/* Custom CSS File */

/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background-color: #2e2e34;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.fluid-container {
  min-height: 60vh;
}

.jumbo-header {
  color: white;
  background-image: url("../images/jumbo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbo-aside {
  color: white;
  padding: 10px;
  background: rgba(50, 50, 50, 0.7);
  border-radius: 5px;
}

.debug_dump {
  background-color: #eee;
  border: 1px solid;
  border-radius: 5px;
  clear: both;
  /* float: left; */
  width: 100%;
  margin-top: 45px;
}

/* Loader and Spinner */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#song_block:hover {
  border: solid 3px;
  border-radius: 5px;
  color: blue;
  transition: .5s;
}

#search_back {
  background: #3a3a40;
  padding: 10px;
  border-radius: 10px;
}

/* Need to move to custom css */
.footer-distributed{
	position: relative;
	background-color: #3a3a40;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 45px 50px;
	margin-top: 80px;
	bottom: 0;
}
.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}
/* Footer links */
.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}
.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #2b3033;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
@media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}
	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
