@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

body {
	font-family: 'Alegreya Sans', sans-serif;
}

.jumbo-header {
	color: white;
	background-image: url("../images/jumbo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.jumbo-aside {
	color: white;
	padding: 10px;
	background: rgba(50, 50, 50, 0.7);
	border-radius: 5px;
}

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

.debug_dump {
	background-color: #eee;
	border: 1px solid;
	border-radius: 5px; 
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}